@page "/books"
@using Bookseller.Shared
@inject HttpClient Http

<h1>Books</h1>

<p>Here are all of the books in the database.</p>

@if (Books == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Book book in Books)
            {
			<tr>
				<td>@book.Title</td>
				<td>@book.Author</td>
				<td><a href="@($"books/view/{book.Id}")">View</a></td>
				<td><a href="@($"books/edit/{book.Id}")">Edit</a></td>
			</tr>
            }
        </tbody>
    </table>
}